name: Deploy to PythonAnywhere via SSH

on:
  push:
    branches:
      - master

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Setup SSH Key
        run: |
          mkdir -p ~/.ssh/
          echo "${{ secrets.SSH_PRIVATE_KEY }}" > ~/.ssh/pythonanywhere_key
          chmod 600 ~/.ssh/pythonanywhere_key
      
      - name: Execute deployment script on PythonAnywhere
        run: |
          ssh -i ~/.ssh/pythonanywhere_key -o StrictHostKeyChecking=no -tt Mackenzie@ssh.pythonanywhere.com "/home/Mackenzie/deploy.sh"
