name: Deploy to PythonAnywhere

on:
  push:
    branches:
      - master

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v2

      - name: Deploy to PythonAnywhere
        uses: pythonanywhere/deploy-action@v1
        with:
          username: "Mackenzie"
          api_token: ${{ secrets.PA_API_TOKEN }}
          path: "~/financial_app"
