name: Deploy to PythonAnywhere

on:
  push:
    branches:
      - master

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Deploy to PythonAnywhere
        uses: umuttopalak/pythonanywhere-deploy-action@v1
        with:
          pythonanywhere_username: "Mackenzie"
          pythonanywhere_api_token: ${{ secrets.PA_API_TOKEN }}
          pythonanywhere_script_path: "/home/Mackenzie/deploy.sh"
